name: Build Darwin AMD64

on:
  workflow_call:

jobs:
  build:
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23"

      - name: Set environment variables
        run: |
          echo "GOARCH=amd64" >> $GITHUB_ENV
          echo "GOOS=darwin" >> $GITHUB_ENV
          if [[ "${{ github.ref }}" == "refs/tags/"* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          else
            VERSION="v0.0.0-${GITHUB_SHA::8}"
          fi
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo "ARCH_NAME=x86_64" >> $GITHUB_ENV
          MOVEVM_VERSION=$(go list -m github.com/initia-labs/movevm | awk '{print $2}')    
          echo "MOVEVM_VERSION=${MOVEVM_VERSION}" >> $GITHUB_ENV

      - name: Ensure dependencies
        run: |
          go mod tidy
          go get github.com/initia-labs/movevm@${MOVEVM_VERSION}

      - name: Print environment variables
        run: |
          echo "GOARCH=${GOARCH}"
          echo "GOOS=${GOOS}"
          echo "VERSION=${VERSION}"
          echo "ARCH_NAME=${ARCH_NAME}"
          echo "MOVEVM_VERSION=${MOVEVM_VERSION}"

      - name: Build and Package for Darwin ADM64
        run: |
          make build \
          && cd ./build \
          && cp ~/go/pkg/mod/github.com/initia-labs/movevm@${MOVEVM_VERSION}/api/libmovevm.dylib ./ \
          && cp ~/go/pkg/mod/github.com/initia-labs/movevm@${MOVEVM_VERSION}/api/libcompiler.dylib ./ \
          && tar -czvf minimove_"$VERSION"_Darwin_"$ARCH_NAME".tar.gz minitiad libmovevm.dylib libcompiler.dylib \
          && mv ./minimove_"$VERSION"_Darwin_"$ARCH_NAME".tar.gz $GITHUB_WORKSPACE/ \
          && rm -rf ./libmovevm.dylib ./libcompiler.dylib ./minitiad

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: minimove-darwin-amd64
          path: minimove_${{ env.VERSION }}_Darwin_${{ env.ARCH_NAME }}.tar.gz
          retention-days: 1
        env:
          VERSION: ${{ env.VERSION }}
          ARCH_NAME: ${{ env.ARCH_NAME }}
